.products-wrapper {

  h6 {
    font-family: $font-alternate;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .product-filter {
    border: solid $color-black 7px;
    margin-bottom: 40px;
    overflow-y: visible;

    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;

      li {
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        margin: 0 auto;
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        &.selected {
          background-color: $color-black;
          color: $color-white;

          &:after {
            content: '\f0d8';
          };
        }

        &:after {
          content: '\f0d7';
          font-family: FontAwesome;
          margin: 0px 0px 0px 5px;
        };
      }
    }

    .sub-filters {
      border-top: 7px solid $color-black;

      ul {
        li {
          font-family: $font-alternate;
          margin: 0 auto;
          padding: 10px;
          &:after {
            content: '';
          };
        }
      }
    }
  }

  .filter-result {
    border-bottom: 4px solid $color-black;
    cursor: pointer;
    font-weight: 700;
    margin: 20px 0px;
    padding-bottom: 20px;
    text-transform: uppercase;

    > span {
      margin: 0 10px;

      &:hover {
        color: $color-red;
      };
    }
  }

  .products {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

    @media (max-width: $screen-md-min) {
      display: block;
    }
    
    .product {
      cursor: pointer;
      flex: 1;
      flex-basis: 33%;
      flex-grow: 0;
      padding: 20px;
      text-align: center;
      width: 32%;

      @media (max-width: $screen-md-min) {
        width: 100%;
      }

      img {
        margin-bottom: 20px;
        width: 98%;
      }

      h5 {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .cost {
        color: $color-medium-gray;
      }

      &:hover {
        h5 {
          color: $color-red;
        }
      };
    }
  }
}

.product-modal {
  .modal-title {
    font-family: $font-alternate;
    font-weight: 700;
    text-transform: uppercase;
  }
  .modal-body {
    img.product-image {
      margin: 20px 0;
      width: 100%;
    }
    h4 {
      font-family: $font-alternate;
      text-transform: uppercase;
    }
  }
}


