.banner-bar {
  background-color: $color-red;
  border-bottom: 1px solid $color-white;
  color: $color-white;
  cursor: pointer;
  font-size: 13px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
