<footer class="footer">
<div class="row">
  <div class="col-md-4">
    <h5>Company</h5>
    <ul>
      <li>ABOUT</li>
      <li>VISITOR CENTER</li>
      <li>CAREERS</li>
      <li>NEWSROOM</li>
      <li>COMMUNITY OUTREACH</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h5>What we create</h5>
    <ul>
      <li>ELECTRIC GUITARS</li>
      <li>ELECTRIC BASSES</li>
      <li>ACOUSTIC GUITARS</li>
      <li>ACOUSTIC BASSES</li>
      <li>BLUEGRASS &amp; UKES</li>
      <li>GUITAR AMPLIFIERS</li>
      <li>BASS AMPLIFIERS</li>
      <li>HOME &amp; STUDIO</li>
      <li>SOUND SYSTEMS</li>
      <li>PARTS</li>
      <li>ACCESSORIES</li>
      <li>SQUIER GUITARS</li>
      <li>FENDER MOD SHOP</li>
      <li>TUNER IOS APP</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h5>Customer service</h5>
    <ul>
      <li>REGISTER YOUR FENDER</li>
      <li>SUPPORT</li>
      <li>CONTACT</li>
      <li>ORDER STATUS</li>
      <li>STORE POLICIES</li>
      <li>CATALOGS &amp; PRICE LIST</li>
      <li>FIND A DEALER</li>
    </ul>
  </div>
</div>
<hr>
<div class="row">
  <img src="assets/images/fender-footer-logo.gif">
</div>
<div class="row legal">
  <div class="col-md-4 text-left"><img src="assets/images/flag.png"> United States</div>
  <div class="col-md-4">Copyright © 2016 Fender Musical Instruments Corporation. All Rights Reserved.</div>
  <div class="col-md-4 text-right">
    <a href="#">Privacy Policy</a>
    <a href="#">Terms &amp; Conditions</a> 
    <a href="#">Supply Chain Transparency</a>
  </div>
</div>
</footer>
